
/* *****************************************************************************
********************************************************************************
*********************************   Web Fonts  *********************************
********************************************************************************
***************************************************************************** */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* *****************************************************************************
********************************************************************************
******************************  Base Layout Styles  ***************************
********************************************************************************
***************************************************************************** */

/* forces the padding and border into the total width and height of the elements. The * is the universal selector, and applies to all elements on the page. */
* {
   box-sizing: border-box;
}

body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 1.6;
      background: white;
    }


/* giving some breathing room to the header element */
header {
  margin-bottom: 10px;
}

.wrap {
  height: calc(100vh); /* 100 % of viewport height minus the 95 nav height,  40 footer height */
}

/* Main Nav */
.navbar {
   border-bottom: 1px solid black;
}

/* styling for the newroots logo and slogan on the main nav bar  */
.newrootsBrand {
  height: 70px;
}

/* this allows for scrolling of the 'fresh stop market' dropdown menu */
.dropdown-menu {
  max-height: 450px;
  overflow-y: auto;
  width: 300px;
  text-align: center;
  padding: 20px;
  background: linear-gradient(0deg, black, transparent 80%),
              linear-gradient(180deg, black, transparent 80%),
              darkgrey;
}

/* color of the links in the dropdown menus */
.dropdown-menu a {
  color: lightgreen;
}

 .dropdown-menu a:hover {
  text-decoration: none;
  color: lime;
}

/* main-link 'home' 'about' etc.... item styling */
.nav-item {
  font-size: 14px;
}


.nav-link {
  margin-left: 10px;
}

/* home link styling */
.nav-link:hover {
  color: black;

}


/*******************************************************************************
********************************************************************************
*****************************end main nav styling ******************************
********************************************************************************
*******************************************************************************/



/*  header styling */
.backgroundHeader {
  height: 300px;
  width: 100%;
  margin: 0 auto;

}

/* Container holding the image and the text */
.backgroundHeader1 {
    position: relative;
    text-align: center;
    margin-top: 0px;
}

/* Centered image caption text for the backgroundHeader: will need media queries for this. */
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 1.2em;
    color: crimson;
    text-shadow: 2px 2px black;
    width: 350px;
}

/* Centered image caption text for the backgroundHeader: will need media queries for this. */
.centered2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);  /* apparently, -50% is the left: property value  */
  color: lightgreen;
  text-shadow: 3px 3px  2px black;   /* third px value would be a blur effect */
  font-size: 1.3em;
  width: 300px;
}


/*  ------   Main Footer ---------- */
.main-footer {  /* footer elements expand to 100% page width by default. */
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  text-align: center;
  height: 45px;
  padding-top: 20px;
  border-top: 2px solid black;
  /*  lucked into creating a 3d type curved gradient;
      later i'll use this for my nav menu div li list items background.  */
  background: linear-gradient(0deg, black, transparent 80%),
              linear-gradient(180deg, black, transparent 80%),
              red;
}

.secondary-footer {
  width: 100%;
  background: grey;
  padding: 20px 20px 20px 20px; /* this gives the paragraph elements some breathing room  */
  margin:  20px 0;
  margin-bottom: 45px;  /* this gives some room for the last link 'privacy' to appear when fully scrolled down after generating ingredient results.  */
  border-top: solid black 2px;
  background: linear-gradient(0deg, lightgreen, transparent 85%),
              linear-gradient(180deg, lightgreen, transparent 85%),
              darkgreen;
}

/* to-top link in the persistent sticky footer  */
.to-top {
  background: lime url('../img/arrow.svg') no-repeat center;
  background-size: 70%;
  transform: rotate(180deg);  /*  this will rotate it 180 degrees. */
  position: absolute;
  top: -6px;
  right: -10px;
  height: 35px;
  width: 35px;
  padding: 0 10px;
  margin: 10px 40px 0px 0px;
  border-radius: 50%;
  border: black 1px solid;
}


/*******************************************************************************
****************************** Base Element Styles *****************************
*******************************************************************************/

/* images for the body of the index.html page  */
.freshStopMarketPhoto {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: solid 1px black;
  max-width: 500px;
}


/*  i need to add a new and different image to the 'we need your help' element flex column.  */
/* images for the 'we need your help' element of the index.html page  */
.freshStopMarketPhotoTomato {
  width: 90%;
  margin: 50px auto;
  border: solid 1px black;
  max-width: 500px;
  height: 250px;
}

.flex-3,
.flex-2 {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  background: white;

  box-shadow: 0 1.5px 0 0 black;
  padding-bottom: 30px;
}

p {
  width: 100%;
  max-width: 800px;
  text-align: center;
  font-size: .9em;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  margin: 8px auto;
}


/*  links in paragraphs elements */
p > a {
  text-align: center;
  font-size: .85em;
  color: red;
  margin: 0 auto;
  text-decoration: underline;
}


h1 {
  font-size: 1.25em;
  color: firebrick;
  margin: 0 auto;
  text-align: center;
  padding: 20px auto;
}

h2 {
  margin: 30px 0;
}

h2 > a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .6em;
  padding: 20px auto;
  margin: 20px auto;
  color: firebrick;
  text-decoration: underline;
}

h3 {
  margin: 20px 10px;
}

/*  Changing the default bullets for lists to no list-style */
li {
  list-style-type: none;
}


/* *****************************************************************************
********************************************************************************
**********************  CSS Flexbox-Layout.html styling ************************
********************************************************************************
*******************************************************************************/
/* flex-3, row-3, flex-column-1, flex-column-2,
   flex-column-3 are used throughout the website for responsive design.      */




/*****************************************************************
******************************************************************
****************  Media Queries for the flex layout **************
******************************************************************
*****************************************************************/


/* Here I am requesting that the child items be laid in a row horizontally
  by targeting the child item of main-header2, and main-nav2 */

/* additionally, laying out the two child items in the parent .row as flex items; flex-direction: row; by default  */
  @media (min-width: 700px) {
    .row-3 {
      display: flex;
      /* due ot the previous rule, the third column will wrap to a new line rather than share its line equally with the other two columns in the container.  */
      flex-wrap: wrap;
      flex-direction: row;
    }

    /* ------ Flexbox  Layout------ */
    /*  Two column layout styles. */
    /* Aligning items to the bottom of a column using flexbox */
      .flex-3 {
        padding: 15px;
        flex: 1 33%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid red;
      }

    .row-2 {
      display: flex;
      /* due ot the previous rule, the third column will wrap to a new line rather than share its line equally with the other two columns in the container.  */
      flex-wrap: wrap;
      flex-direction: row;
    }

    .flex-2 {
      /* Aligning items to the bottom of a column using flexbox */
          padding: 15px;
          flex: 1 60%;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 10px;
          text-align: center;
          border: 1px solid red;
        }

        .flex-column-1-text {
          flex: 2.5;
        }

        #flex-4 {
          order: -1;
        }

} /* end 700px media query */


@media (min-width: 969px) {

  #mission {
    font-size: 3em;
  }

  /* ------ Flexbox  Layout------ */
  /*  Two column layout styles. */
  /* Aligning items to the bottom of a column using flexbox */
    .flex-3 {
      padding: 15px;
      flex: 1 33%;
      flex-direction: column;
      margin-bottom: 10px;
      text-align: center;
    }


}  /* end 969 media query */

@media (min-width: 990px) {


  .nav-link {
    font-size: 13px;
  }

  /* ---------- Fixed Positioning Example ------------ */
  /* Using fixed position to keep the main-header and nav at the top of the viewport regardless of where they are on the page. */
  .navbar {
    position: fixed;
    width: 100%;     /* I set width to 100% because when position is set to fixed, the main-header will only be as wide as its content. */                    /* So I override this to have a nice menu that stays with the user as they scroll down. */
    top: 0;         /* This is to ensure that the main-header container stays put at the top of the page and follows the user as they scroll. */
    z-index: 1000;
    border-bottom: 1px solid black;
  }

  .newrootsBrand {
    height: 55px;
  }

  .backgroundHeader1 {
    margin-top: 80px;
  }


}  /* end 990 media query */




@media (min-width: 1025px) {


/* at this 1025px breakpoint, I set flex-basis to 0, so that the columns will not breakdown, but instead remain on the same line.
For example, if I set the basis to 200px, then below 200 px of column width, the columns would wrap to a new line. */
  .flex-3 {
    flex-basis: 0;
  }

    /* setting the margin for the header to the height of the main nav element so that is isn't overriden upon fixed navigation @ 1025px and greater.  */
    .backgroundHeader1  {
      margin-top: 80px;
    }

    .backgroundHeader {
      height: 500px;
    }




} /* end media query for 1025px and greater  */



@media (min-width: 1050px) {

  .newrootsBrand {
    height: 70px;
  }

  /* setting the margin for the header to the height of the main nav element so that is isn't overriden upon fixed navigation @ 1050px and greater.  */
  .backgroundHeader1  {
    margin-top: 96px;
  }

}


@media (min-width: 1200px) {


  .nav-link {
    font-size: 15px;
  }

  .newrootsBrand {
    height: 100px;
  }

  /* setting the margin for the header to the height of the main nav element so that is isn't overriden upon fixed navigation @ 1200px and greater.  */
  .backgroundHeader1  {
    margin-top: 126px;
  }

}
/*******************************************************************************
********************************************************************************
***********************  end css flexbox layouts styles  ***********************
********************************************************************************
*******************************************************************************/
